@use 'variables' as *;

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-evenly($direction: row) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-between($direction: row) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-around($direction: row) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

@mixin bouton-nav {
    background-color: $colortextPrimary;
    border: 2px solid $colortextPrimary;
    color: $colorBgF;
    border-radius: 7px;
    font-size: $fontsizeTitle;
    padding: 0.5rem 1.2rem;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

@mixin bouton-nav-hover {
    background-color: $colorBgS;
    color: $colortextPrimary;
}

@mixin bg-img($bgsize: cover) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: $bgsize;
}

@mixin imgDiv($fit: cover) {
    width: 100%;
    height: 100%;
    object-fit: $fit;
    object-position: center;
}
