$colorBgF: #001524;
$colorBgS: #172A37;
$colorBtn: #444E74;
$colorBorder: #7180AC;
$alert: #EF404B;
$colortextPrimary: #FFFFFF;

$fontTitle: 'Russo One', sans-serif;
$fontText: 'Poppins', sans-serif;
$fontbig: 2rem;
$fontsizeTitle: 1.5rem;
$fontsizeText: 1rem;
$bRadius: 0.5rem;