{% extends 'base.html.twig' %}

{% block title %}Modifier Cpu
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Modifier Cpu</h1>

			{{ include('cpu/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_cpu_index') }}">retour à la liste</a>

				{{ include('cpu/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
