{% extends 'base.html.twig' %}

{% block title %}Créer un boîtier - Admin{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Créer un nouveau boîtier</h1>
			{{ include('admin/boitier/_form.html.twig') }}
			<a href="{{ path('app_admin_boitier_index') }}">Retour à la liste</a>
		</section>
	</main>
{% endblock %}
