{% extends 'base.html.twig' %}

{% block title %}Edit Ram
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Edit Ram</h1>

			{{ include('ram/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_ram_index') }}">back to list</a>

				{{ include('ram/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
