{% extends 'base.html.twig' %}

{% block title %}Modifier un boitier
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Modifier un boitier</h1>

			{{ include('boitier/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_boitier_index') }}">retour à la liste</a>

				{{ include('boitier/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
