{% extends 'base.html.twig' %}

{% block title %}Nouveau boitier
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Créer un nouveau boitier</h1>
			{{ include('boitier/_form.html.twig') }}

			<a href="{{ path('app_boitier_index') }}">retour à la liste</a>
		</section>
	</main>
{% endblock %}
