{% extends 'base.html.twig' %}

{% block title %}Modifier Cooler
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Modifier Cooler</h1>

			{{ include('cooler/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_cooler_index') }}">retour à la liste</a>

				{{ include('cooler/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
