{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block main %}
	<main class="">
    <h1>Administration</h1>
			<nav>
				<ul>
					<li><a href="{{ path('app_user_index')}}">Utilisateurs</a></li>
					<li><a href="{{ path('app_build_index')}}">Builds</a></li>
					<li><a href="{{ path('app_news_adminView')}}">News</a></li>
					<li><a href="{{ path('app_image_index')}}">Images</a></li>
				</ul>
			</nav>
	</main>
{% endblock %}
