{% extends 'base.html.twig' %}

{% block title %}Modifier Fan
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Modifier Fan</h1>

			{{ include('fan/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_fan_index') }}">retour à la liste</a>

				{{ include('fan/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
