{% extends 'base.html.twig' %}

{% block title %}Nouveau Fan
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Créer un nouveau Fan</h1>

			{{ include('fan/_form.html.twig') }}

			<a href="{{ path('app_fan_index') }}">retour à la liste</a>
		</section>
	</main>
{% endblock %}
