{% extends 'base.html.twig' %}

{% block title %}Edit Motherboard
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Edit Motherboard</h1>

			{{ include('motherboard/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_motherboard_index') }}">back to list</a>

				{{ include('motherboard/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
