@use '../abstracts' as *;

footer {
    width: 100%;
    height: 30vh;
    background-color: $colorBgF;
    @include flex-evenly($direction: row);
    color: $colortextPrimary;
    font-family: $fontText;


    a {
        img {
            width: 250px;
            object-fit: cover;
        }

        text-decoration: none;
        color: $colortextPrimary;
    }

    h2 {
        border-bottom: 2px solid $colorBorder;
        margin-bottom: 1vh;
    }

    div {
        margin-top: 2rem;
        align-self: flex-start;
        width: auto;
        max-height: 15vh;
        >ul {
            gap: 0.5rem;
            padding-left: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    div:nth-of-type(2) {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 430px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        height: auto;
        >a {
            align-self: center;
        } 

    div {
        margin-left: 2rem;

        >ul {
            padding-left: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: auto;
            flex-wrap: wrap;
        }
    }

    }
}