@use '../abstracts' as *;

footer {
    width: 100%;
    height: 30svh;
    background-color: $colorBgF;
    @include flex-evenly($direction: row);
    color: $colortextPrimary;
    font-family: $fontText;


    a {
        img {
            width: 175px;
            object-fit: cover;
        }

        text-decoration: none;
        color: $colortextPrimary;
    }

    h2 {
        border-bottom: 2px solid $colorBorder;
        margin-bottom: 1svh;
    }

    div {
        margin-top: 2rem;
        align-self: flex-start;
        width: auto;
        height: 15svh;
        >ul {
            gap: 0.5rem;
            padding-left: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    div:nth-of-type(2) {
        ul {
            display: grid;
            grid-template-columns: auto auto;
            width: 13vw;
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        height: auto;
        >a {
            align-self: center;
        } 

    div {
        margin-top: 0;
        margin-left: 2rem;
        height: auto;

        >ul {
            padding-left: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            li {
                width: 100%;
                a {
                    min-width: 100%;
                }
            }
        }
    }

    }
}