@use '../abstracts/' as *;

.section-login {
    width: 100%;
    height: 85vh;
    @include flex-center(column);
    background-image: url('../img/prebuilds/spaceship.jpg');
    @include bg-img(center);

}

.section-register {
    width: 100%;
    height: 85vh;
    @include flex-center(column);
    background-image: url('../img/prebuilds/low.png');
    @include bg-img(cover);

}

.form-log-reg,
.section-register form {
    width: 35%;
    height: 75%;
    border-radius: $bRadius;
    @include flex-evenly(column);
    background-color: $colorBgF;
    align-self: center;
    box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.2),
        -4px -4px 7px rgba(255, 255, 255, 0.2);

    h1,
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    div {
        width: 70%;
        @include flex-center(column);

        label {
            font-size: $fontsizeTitle;
            align-self: flex-start;
            padding-bottom: 0.3em;
        }

        input {
            background-color: $colorBgS;
            border: none;
            border-radius: 7px;
            width: 100%;
            height: 2rem;
            line-height: 100%;
            font-size: $fontsizeText;
        }

    }

    div:last-of-type {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        >input {
            width: 1em;
            margin-right: 1em;
        }
    }

    button {
        @include bouton-nav;
        cursor: pointer;
        margin-bottom: 0.5em;

        &:hover {
            @include bouton-nav-hover;
        }
    }

    h2 {
        border-top: 2px solid $colorBorder;
        width: 100%;
        text-align: center;
        padding-top: 0.5em;
    }

    a {
        @include bouton-nav;
        margin-bottom: 0.5em;

        &:hover {
            @include bouton-nav-hover
        }
    }
}

.main-form {
    background-color: $colorBgS;
    display: flex;
    justify-content: center;
    align-items: center;

    >section {
        margin: 3rem;
        background-color: $colorBgF;
        min-width: 30vw;
        height: auto;
        border: 2px solid $colorBorder;
        border-radius: $bRadius;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            &:hover {
                color: $colorBorder;
            }
        }

        h1 {
            text-align: center;
            padding: 1rem;
        }

        >form {
            @include flex-evenly(column);
            width: 100%;
            height: 100%;

            >div {
                width: 100%;
                height: 100%;
                @include flex-center(column);

                >div {
                    height: 100%;
                    width: 60%;
                    @include flex-center(column);
                    font-size: 1.2rem;
                    margin: 0.5rem;

                    input {
                        background-color: $colorBgS;
                        width: 100%;
                    }

                    label {
                        align-self: flex-start;
                        margin-bottom: 0.3rem;
                    }
                }
            }
        }
    }

    div {
        width: 100%;
        @include flex-center(row);
    }

    button {
        @include bouton-nav;
        cursor: pointer;
        margin: 1rem;
        width: 10vw;

        &:hover {
            @include bouton-nav-hover;
        }
    }
}

.search-bar {
    @include flex-center(row);
    gap: 0.5rem;

    input {
        width: 15vw;
    }
}

.js-role-form {
    @include flex-center(row);
    gap: 0.5rem;
}

input,
select,
textarea {
    background-color: $colorBgS;
    text-align: center;
}

input {
    background-color: $colorBgF;
    border-radius: 7px;
    border: none;
    height: 2rem;
}

@media screen and (max-width: 767px) {

    .form-log-reg,
    .section-register form {
        width: 95%;
        height: 65vh;
    }

    .main-form {
        >section {
            min-width: 95vw;

            form {
                input {
                    width: 60%;
                    background-color: $colorBgS;
                }

                textarea {
                    min-width: 60%;
                    min-height: 15vh;
                }
            }
        }

        button {
            width: 38vw;
        }
    }

    .search-bar {

        input {
            width: 90%;
        }
    }
}