@use '../abstracts' as *;

header {
    width: 100%;
    background-color: $colorBgF;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    height: 100%;
    width: 100%;
    @include flex-between($direction: row);

    >a {
        margin-left: 3rem;
        width: 135px;
        height: 135px;

        >img {
            @include imgDiv(cover);
        }
    }

    >ul {
        @include flex-center(row);

        >li {
            margin: 3rem;

            >a,
            >h2 {
                color: $colortextPrimary;
                font-family: $fontTitle;
                text-decoration: none;
                font-size: $fontsizeTitle;
                font-weight: 200;

                &:hover {
                    color: $colorBorder;
                }
            }
        }
    }
}

.menu-burger {
    display: none;
}

.composant {
    position: relative;

    #btn-nav {
        cursor: pointer;

    }

    .menu-composant {
        width: 47vw;
        height: 30vh;
        position: absolute;
        top: 7vh;
        left: -100vw;
        background-color: $colorBgF;
        border-radius: 0 0 $bRadius $bRadius;
        transition: transform 0.3s ease;
        padding: 1rem;

        .list-compo {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            gap: 1rem;

            li {
                height: 100%;
                width: 100%;
                @include bg-img(contain);
                padding: 0.5rem;
                overflow: hidden;
                border: 2px solid $colorBorder;
                border-radius: $bRadius;
                transition: transform 0.4s ease 0s;
                cursor: pointer;
                background-color: $colorBgS;

                &:hover {
                    background-color: rgba($color: black, $alpha: 0.5);
                    background-blend-mode: color;
                    transform: scale(1.03);
                    box-shadow: $shadowHover;
                }

                &:hover a {
                    transform: translateY(-10rem);
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $fontText;
                    text-decoration: none;
                    color: $colortextPrimary;
                    font-size: 1rem;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease 0s;
                    top: 10rem;
                }
            }

            li:nth-of-type(5) {
                height: 50%;
                grid-area: 1 / 5 / 3 / 6;
            }
        }
    }
}

.connecter {
    margin: 0 3rem 0 5rem;
    position: relative;

    >div {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        img {
            @include imgDiv;
        }
    }

    >ul {
        position: absolute;
        top: 13vh;
        left: 50vw;
        background-color: $colorBgF;
        @include flex-center(column);
        border-radius: $bRadius;
        border: 2px solid $colorBorder;
        box-shadow: $shadow;
        transition: transform 0.3s ease;

        li:nth-of-type(2) {
            border-top: 2px solid $colorBorder;
            border-bottom: 2px solid $colorBorder;
        }

        li:nth-of-type(3) {
            border-bottom: 2px solid $colorBorder;
        }

        li {
            padding: 0.5rem 1rem;
            width: 100%;
            height: 100%;
            @include flex-center(row);


        }

    }

    a {
        font-family: $fontText;
        color: $colortextPrimary;
        text-decoration: none;
        font-weight: 400;
        font-size: $fontsizeText;

        &:hover {
            color: $colorBorder;
        }
    }
}

.btn-close-list {
    display: none;
}

.co {
    transform: translateX(-52vw);
}

.comp {
    transform: translateX(80.5vw);
}

.list-compo li:first-of-type {
    background-image: url('/img/navbar/cpu.png');
}

.list-compo li:nth-of-type(2) {
    background-image: url('/img/navbar/mb.png');
}

.list-compo li:nth-of-type(3) {
    background-image: url('/img/navbar/gpu.png');
}

.list-compo li:nth-of-type(4) {
    background-image: url('/img/navbar/ram.png');
}

.list-compo li:nth-of-type(5) {
    background-image: url('/img/navbar/storage.png');
}

.list-compo li:nth-of-type(6) {
    background-image: url('/img/navbar/psu.png');
}

.list-compo li:nth-of-type(7) {
    background-image: url('/img/navbar/cooler.png');
}

.list-compo li:nth-of-type(8) {
    background-image: url('/img/navbar/boitier.png');
}

.list-compo li:last-of-type {
    background-image: url('/img/navbar/fan.png');
}

@media only screen and (max-width: 620px) {
    .navbar {
        background-color: $colorBgF;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-evenly;
        position: relative;

        >a {
            margin-left: 1rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        >ul {
            @include flex-evenly(column);
            height: 85vh;
            width: 100%;
            position: absolute;
            top: 15vh;
            left: 100vw;
            background-color: $colorBgF;
            transition: transform 0.3s ease;
            z-index: 2;
        }
    }

    .composant {
        z-index: 10;
        .menu-composant {
            min-width: 100vw;
            min-height: 100vh;
            left: 100vw;
            top: -39vh;

            .btn-close-list {
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                z-index: 2;
            }

            .list-compo {
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 0.5rem;

                li {
                    width: 150px;
                    height: 150px;
                }

                >li:nth-of-type(5) {
                    grid-area: 3/1/4/2;
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }

    .connecter {
        margin-right: 1rem;

        >div {
            width: 60px;
            height: 60px;

            img {
                @include imgDiv;
            }
        }

        ul {
            left: 100vw;
            top: 15vh;
            z-index: 50;
        }
    }

    .menu-burger {
        border-radius: 3px;
        width: 60px;
        margin-right: 1rem;
        height: 3rem;
        @include flex-evenly(column);
        cursor: pointer;


        div {
            margin: auto;
            border-radius: 3px;
            width: 2.7rem;
            height: 0.3rem;
            background-color: $colortextPrimary;
        }
    }

    .comp {
        transform: translateX(-133vw);
    }

    .tel-menu {
        transform: translateX(-100vw);
    }
    .co {
        transform: translateX(-118vw);
    }
    .burger-active {
        transform: rotate(90deg);

        & .menu-burger {
            background-color: $colorBgS;
        }
    }

    .list-compo li:nth-of-type(3) {
        grid-area: 2/1/3/2;
    }

    .list-compo li:nth-of-type(4) {
        grid-area: 2/2/3/3;
    }

    .list-compo li:nth-of-type(6) {
        grid-area: 3/2/4/3;
    }

    .list-compo li:nth-of-type(7) {
        grid-area: 4/1/5/2;
    }

    .list-compo li:nth-of-type(8) {
        grid-area: 4/2/5/3;
    }

    .list-compo li:last-of-type {
        grid-area: 5/1/6/3;
    }
}