@use './abstracts' as *;

@use './components' as *;
@use 'home' as *;
@use 'profile' as *;
@use 'composant' as *;
@use 'news' as *;
@use 'builds' as *;
@use 'show' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $colortextPrimary;
    font-family: $fontText;
    font-weight: 400;
}

a {
    text-decoration: none;
}
body {
    width: 100%;
}
main {
    margin-top: 15vh;
    background-color: $colorBgF;
    width: 100%;
    min-height: 85vh;
}

.compo-card>button,
.js-role-form>button,
.main-show button,
.main-show td a {
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

svg {
    width: 100%;
    height: 100%;

    &:hover {
        color: $colorBorder;
    }
}

.flash-message {
    position: fixed;
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: $bRadius;
    font-size: $fontsizeText;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: $shadow;
    animation: slideDown 0.3s ease-out;

    &.flash-success {
        background-color: $succes;
        border: 1px solid $succes;
    }

    &.flash-error {
        background-color: $alert;
        border: 1px solid $alert;
    }

    &.flash-warning {
        background-color: $colorBorder;
        border: 1px solid $colorBorder;
    }

    &.flash-info {
        background-color: $colorBgS;
        border: 1px solid $colorBorder;
    }
}

.flash-close {
    background: none;
    border: none;
    color: $colortextPrimary;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;

    &:hover {
        color: $colorBorder;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}