@use './abstracts/' as *;

.space-ship {
    background-image: url('../img/prebuilds/spaceship.jpg');
}

.high-end {
    background-image: url('../img/prebuilds/high.png');
}

.mid-budget {
    background-image: url('../img/prebuilds/medium.png');
}

.low-cost {
    background-image: url('../img/prebuilds/low.png');
}

.space-ship,
.high-end,
.mid-budget,
.low-cost {
    @include bg-img(cover);
    @include flex-evenly(column);
    width: 100%;
    height: 60vh;
    backdrop-filter: blur(10px);

    >div {
        width: 100%;
        @include flex-evenly(row);
    }

}

.prebuild-title {
    background-color: $colorBgF;
    text-align: center;
    font-family: $fontTitle;
    height: 8vh;
    line-height: 8vh;
    font-weight: 400;
    font-size: $fontsizeTitle;
}

.section-comu {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    background-color: $colorBgS;
    padding: 3rem;
    margin: auto;
    row-gap: 4rem;
}

.builder {
    background-color: $colorBgS;
    color: $colortextPrimary;
    font-family: $fontText;
    @include flex-center(column);

    a {
        @include bouton-nav;

        &:hover {
            @include bouton-nav-hover;
        }
    }

    section:first-of-type {
        width: 100%;
        height: 80vh;
        background-image: url('../img/heroBuilder3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 3rem;

        >div {
            @include flex-center(column);
            height: 100%;
            width: 40%;
            margin-right: 10%;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);

            >h1 {
                font-weight: 400;
                text-align: center;
            }

            >p {
                margin-top: 2rem;
                width: 80%;
                text-align: justify;
            }
        }
    }

    .forge-comp {
        @include flex-center(column);

        >h2 {
            font-weight: 400;
        }

        >p {
            width: 50%;
            text-align: center;
        }
    }

    >.forge-comp:last-of-type {
        div {
            margin: 2rem;
            @include flex-center(row);
            gap: 2rem;
        }

        form {
            >button {
                @include bouton-nav;

                &:hover {
                    @include bouton-nav-hover;
                }
            }
        }
    }
}

.ligne {
    height: 13vh;
    width: 3px;
    background-color: $colorBorder;
    border-radius: 2rem;
    margin: 1rem;
}

.main-bg-s {
    background-attachment: fixed;
    background-color: $colorBgS;
    background-image: url('../img/showBuild.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.secBuildShow {
    width: 100%;
    @include flex-evenly(column);
    row-gap: 2rem;

    .hautShow {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $colorBgF;
        width: 55vw;
        @include flex-evenly(row);
        border-radius: $bRadius;
        padding: 1rem;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2),
            -2px -2px 5px rgba(255, 255, 255, 0.2);

        >div:nth-of-type(1) {
            width: 30%;
            padding: 0.5rem;

            img {
                @include imgDiv(contain);
            }
        }

        >div:nth-of-type(2) {
            width: 60%;
            height: 100%;
            @include flex-evenly(column);
            row-gap: 1rem;

            h1 {
                font-weight: 400;
            }

            >p {
                width: 80%;
                text-align: justify;
                overflow-wrap: anywhere;
                word-break: break-word;
                hyphens: auto;
                white-space: normal;
            }

            >div {
                @include flex-center(row);

                >a {
                    margin-left: 3rem;
                }
            }
        }
    }

    article:last-of-type {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767px) {

    .space-ship,
    .high-end,
    .mid-budget,
    .low-cost {
        background-repeat: repeat;
        height: auto;

        >div {
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }
    }

    .section-comu {
        @include flex-center(column);
        gap: 1rem;
    }

    .secBuildShow .hautShow {
        flex-direction: column;
        min-width: 90vw;

        >div:nth-of-type(1) {
            width: 90%;
        }

        >div:nth-of-type(2) {
            width: 100%;
            >p {
                width: 90%;
            }
        }
    }
    .builder {
        section:first-of-type {
            >div {
                width: 100%;
                margin: 0;
            }
        }
        .forge-comp {
            p {
                width: 95%;
                text-align: justify;
            }
        }
    }
}