@use './abstracts/' as *;

.compo-index {
    @include flex-evenly(column);
    color: $colortextPrimary;
    row-gap: 2rem;
    background-color: $colorBgS;

    article:last-of-type {
        margin-bottom: 2rem;
    }
}

.compo-card {
    width: 50vw;
    height: 20vh;
    background: $colorBgF;
    font-family: $fontText;
    font-weight: 400;
    border-radius: $bRadius;
    overflow: hidden;
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: $shadow;


    &:hover {
        height: 30vh;
        transform: scale(1.03);
        box-shadow: $shadowHover;
        border: 2px solid $colorBorder;
    }

    >div:first-of-type {
        @include flex-evenly(row);
        width: 100%;
        height: 20vh;

        >div:nth-of-type(2) {
            @include flex-evenly(row);
            width: 60%;
            height: auto;

            >a {
                margin-left: 2rem;
                @include bouton-nav;

                &:hover {
                    @include bouton-nav-hover;
                }
            }

            >p:first-of-type {
                width: 40%;
                text-align: center;
            }

            >p:nth-of-type(2),
            >p:last-of-type {
                width: 30%;
                text-align: right;
            }
        }

        >div:nth-of-type(3) {
            @include flex-evenly(column);
            color: $colortextPrimary;
        }
    }

    >div:last-of-type {
        @include flex-evenly(row);
        height: 10vh;
        border-top: 2px solid $colorBorder;
    }

    form {
        display: flex;

        button {
            align-self: center;
            justify-self: center;
            background: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            width: 3rem;
            height: 3rem;

            svg {
                width: 100%;
                height: 100%;
                color: $colorBorder;
            }
        }
    }
}

.compo-card-img {
    width: 150px;
    height: 150px;
    background-color: $colortextPrimary;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 767px) {
    .compo-card {
        width: 95vw;
        height: 30vh;

        &:hover {
            height: 40vh;
        }

        >div:first-of-type {
            height: 30vh;
            position: relative;


            >div:nth-of-type(2) {
                flex-direction: column;
                gap: 1rem;
                width: 50%;
                height: 100%;
                height: auto;


                p {
                    display: block;
                    min-width: 100%;
                }
            }

            form {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;

                button {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

}