@use './abstracts/' as *;

.profile {
    width: 100%;
    height: auto;
    background-color: $colorBgS;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: $fontbig;
        text-align: center;
    }
}

.info {
    @include flex-center(column);
    width: 100%;
    margin-top: 2rem;
    height: 30svh;

    >div:first-of-type {
        @include flex-center(row);
        width: 100%;
        height: 100%;
        margin-right: 6rem;

        >div:first-of-type {
            width: 250px;
            height: 250px;
            border-radius: 100%;
            overflow: hidden;

            img {
                @include imgDiv(cover);
            }
        }

        div:nth-of-type(2) {
            height: 100%;
            width: 60%;
            @include flex-evenly(column);

            >p {
                height: 60%;
                width: 80%;
                font-size: $fontsizeText;
                text-align: justify;
            }
        }

        >div:last-of-type {
            @include flex-between(column);
            height: 50%;

            >a {
                @include bouton-nav;
                width: 100%;

                &:hover {
                    @include bouton-nav-hover;
                }
            }
        }
    }

    >div:last-of-type {
        @include flex-center(row);

        p {
            padding: 0.5rem;
        }
    }
}

.mes-builds {
    width: 100%;
    @include flex-center(row);
}

.caroussel {
    overflow: hidden;
    height: 51svh;
    width: auto;
    margin: 3rem;

    .slide {
        width: 19vw;
        height: 100%;
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        gap: 2rem;

        >article:first-of-type {
            margin-left: 0.5vw;
        }
    }
}

#left-btn,
#right-btn {
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 4rem;
    height: 4rem;

    svg {
        width: 100%;
        height: 100%;
        color: $colorBorder;
    }
}

@media screen and (max-width: 767px) {
    .info {
        height: auto;

        >div:first-of-type {
            flex-direction: column;
            height: auto;
            margin: 0;

            >div:first-of-type {
                width: 150px;
                height: 150px;
            }

            div:nth-of-type(2) {
                width: 90%;

                >p {
                    width: 100%;
                }
            }

            >div:last-of-type {
                margin: 1rem;
                gap: 1rem;
                flex-direction: row;
                width: 80%;

                a {
                    width: 50%;
                }
            }
        }
    }

    .mes-builds {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .caroussel {
        margin: 0;
        height: 61svh;

        .slide {
            width: 81vw;
        }
    }

    #left-btn,
    #right-btn {
        width: 2rem;
        height: 2rem;
    }
}