{% extends 'base.html.twig' %}

{% block title %}Créer une alimentation - Admin{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Créer une nouvelle alimentation</h1>
			{{ include('admin/psu/_form.html.twig') }}
			<a href="{{ path('app_admin_psu_index') }}">Retour à la liste</a>
		</section>
	</main>
{% endblock %}
