{% extends 'base.html.twig' %}

{% block title %}Edit Gpu
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Edit Gpu</h1>

			{{ include('gpu/_form.html.twig', {'button_label': 'Update'}) }}
			<div>
				<a href="{{ path('app_gpu_index') }}">back to list</a>

				{{ include('gpu/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
