{% extends 'base.html.twig' %}

{% block title %}Créer un système de refroidissement - Admin{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Créer un nouveau système de refroidissement</h1>
			{{ include('admin/cooler/_form.html.twig') }}
			<a href="{{ path('app_admin_cooler_index') }}">Retour à la liste</a>
		</section>
	</main>
{% endblock %}
