{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block main %}
	<main class="main-form">
		<section>
			<h1>Modifier le profil</h1>

			{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

		</section>
	</main>
{% endblock %}
